03_FileCatalogue/S-130_GML Schema_0219.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:S100="http://www.iho.int/s100gml/5.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns="http://www.iho.int/S-130/gml/cs0/1.0" targetNamespace="http://www.iho.int/S-130/gml/cs0/1.0" elementFormDefault="qualified" version="1.2.0">
	<!-- ========================================================================================== -->
	<!-- S100 XML/GML Schema for S-130                                                              -->
	<!-- ========================================================================================== -->
	<xs:annotation>
		<xs:documentation>Application schema for S-130 dataset</xs:documentation>
	</xs:annotation>
	<!-- ========================================================================================== -->
	<!-- Import XSD for reference (s100gmlbase.xsd, S100_gmlProfile.xsd, S100_gmlProfileLevels.xsd) -->
	<!-- ========================================================================================== -->
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schemas.s100dev.net/schemas/S100/5.0.0/S100GML/20220620/S100_gmlProfile.xsd"/>
	<xs:import namespace="http://www.iho.int/s100gml/5.0" schemaLocation="https://schemas.s100dev.net/schemas/S100/5.0.0/S100GML/20220620/s100gmlbase.xsd"/>
	<!-- ========================================================================================== -->
	<!-- common types - consider defining a common                                                  -->
	<!-- ========================================================================================== -->
	<xs:complexType name="S100_TruncatedDate">
		<xs:annotation>
			<xs:documentation>built in date types from W3C XML schema, implementing S-100 truncated date</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="gDay" type="xs:gDay"/>
			<xs:element name="gMonth" type="xs:gMonth"/>
			<xs:element name="gYear" type="xs:gYear"/>
			<xs:element name="gMonthDay" type="xs:gMonthDay"/>
			<xs:element name="gYearMonth" type="xs:gYearMonth"/>
			<xs:element name="date" type="xs:date"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="ISO639-3">
		<xs:annotation>
			<xs:documentation>stub for ISO 639-3 language codes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\w{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISO639-2">
		<xs:annotation>
			<xs:documentation>stub for ISO 639-2 language codes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\w{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISO3166-alpha2">
		<xs:annotation>
			<xs:documentation>stub for ISO 3166 alpha2 country codes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\w{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ========================================================================================== -->
	<!-- types and elements for the simple attribute types definition                               -->
	<!-- ========================================================================================== -->
	<!-- ========================================================================================== -->
	<!-- Enumeration                                                                                -->
	<!-- ========================================================================================== -->
	<xs:simpleType name="lineTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Rhumb Line">
				<xs:annotation>
					<xs:documentation>A line on the surface of the earth making the same oblique angle with all meridians; a loxodrome spiralling toward the poles in a constant true direction. parallels and meridians, which also maintain constant true directions, may be considered special cases of the rhumb line. A rhumb line is a straight line on a Mercator projection. Sometimes shortened to rhumb.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Great Circle">
				<xs:annotation>
					<xs:documentation>The intersection of a sphere and a plane through its center. See also Orthodrome.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Undetermined/Unknown">
				<xs:annotation>
					<xs:documentation>Having an unknown value.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sourceTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Law or Regulation">
				<xs:annotation>
					<xs:documentation>Treaty, convention, or international agreement; law or regulation issued by a national or other authority.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Official Publication">
				<xs:annotation>
					<xs:documentation>Publication not having the force of law, issued by an international organisation or a national or local administration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Mariner Report, Confirmed">
				<xs:annotation>
					<xs:documentation>Reported by mariner(s) and confirmed by another source.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Mariner Report, Not Confirmed">
				<xs:annotation>
					<xs:documentation>Reported by mariner(s) but not confirmed.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Industry Publications and Reports">
				<xs:annotation>
					<xs:documentation>Shipping and other industry publications, including graphics, charts and web sites.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Remotely Sensed Images">
				<xs:annotation>
					<xs:documentation>Information obtained from satellite images.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Photographs">
				<xs:annotation>
					<xs:documentation>Information obtained from photographs.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Products Issued by HO Services">
				<xs:annotation>
					<xs:documentation>Information obtained from products issued by Hydrographic Offices.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="News Media">
				<xs:annotation>
					<xs:documentation>Information obtained from news media.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Traffic Data">
				<xs:annotation>
					<xs:documentation>Information obtained from the analysis of traffic data.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!-- ========================================================================================== -->
	<!-- types and elements for the complex attribute types definition                              -->
	<!-- ========================================================================================== -->
	<xs:complexType name="fixedDateRangeType">
		<xs:annotation>
			<xs:documentation>An active period of a single fixed event or occurrence, as the date range between discrete start and end dates.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateEnd" type="S100_TruncatedDate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The latest date on which an object (for example a buoy) will be present.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateStart" type="S100_TruncatedDate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The earliest date on which an object (for example a buoy) will be present.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="timeOfDayEnd" type="xs:time" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The time corresponding to the end of an active period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="timeOfDayStart" type="xs:time" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The time corresponding to the start of an active period.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="locationReferenceType">
		<xs:annotation>
			<xs:documentation>Comprehensive description of a geographic location through textual elements and/or geospatial coordinates.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="locationByText" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A textual rendering of a geographic location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="textLatitude" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Textual description of latitude information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="textLongitude" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Textual description of longitude information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceSystem" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A textual rendering of a coordinate reference system (CRS).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sourceIndicationType">
		<xs:annotation>
			<xs:documentation>Information about the source document, publication, or reference from which object data or textual material included or referenced in a dataset are derived.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="reportedDate" type="S100_TruncatedDate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date that the item was observed, done, or investigated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="source" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The publication, document, or reference work from which information comes or is acquired.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceType" type="sourceTypeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of the source.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================================================================== -->
	<!-- types and elements for the information types definition                                    -->
	<!-- ========================================================================================== -->
	<xs:element name="InformationType" type="InformationTypeType" abstract="true"/>
	<xs:complexType name="InformationTypeType" abstract="true">
		<xs:annotation>
			<xs:documentation>Generalized information type which carry all the common attributes</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S100:AbstractInformationType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="sourceIndicator" type="sourceIndicatorType"/>
	<xs:complexType name="sourceIndicatorType">
		<xs:annotation>
			<xs:documentation>Information about source material(s) from which data can be derived</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="InformationTypeType">
				<xs:sequence>
					<xs:element name="sourceIndication" type="sourceIndicationType" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Information about the source document, publication, or reference from which object data or textual material included or referenced in a dataset are derived.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="theAdditionalSpatialInformation" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AdditionalSpatialInformation" type="AdditionalSpatialInformationType"/>
	<xs:complexType name="AdditionalSpatialInformationType">
		<xs:annotation>
			<xs:documentation>Additional textual information relating to a one or more geographic locations.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="InformationTypeType">
				<xs:sequence>
					<xs:element name="locationReference" type="locationReferenceType" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Comprehensive description of a geographic location through textual elements and/or geospatial coordinates.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="theSpatialInformationSource" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FeatureType" type="FeatureTypeType"/>
	<xs:complexType name="FeatureTypeType">
		<xs:annotation>
			<xs:documentation>Generalized feature type which carries all the common attributes.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S100:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="minimumDisplayScale" type="xs:integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The smallest intended viewing scale for the data.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="maximumDisplayScale" type="xs:integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The value considered by the Data Producer to be the maximum (largest) scale at which the data is to be displayed before it can be considered to be “grossly overscaled”.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="theInformation" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="theFeatureDataSource" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GlobalSeaArea" type="GlobalSeaAreaType"/>
	<xs:complexType name="GlobalSeaAreaType">
		<xs:annotation>
			<xs:documentation>An area describing the extents of global seas and oceans.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S100:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="featureIdentifier" type="xs:anyURI" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>An identifier referencing an object or feature that is external to the dataset, expressed in Uniform Resource Name (URN) format.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Identification of a specific form or variation of an entity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fixedDateRange" type="fixedDateRangeType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>An active period of a single fixed event or occurrence, as the date range between discrete start and end dates.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="theComponent" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="theCollection" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="zoneConstructionLimit" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="zoneContributingLocation" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="geometry" maxOccurs="unbounded">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="S100:surfaceProperty"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ConstructionLine" type="ConstructionLineType"/>
	<xs:complexType name="ConstructionLineType">
		<xs:annotation>
			<xs:documentation>An arc used for constructing Limit or Boundary features typically linking to a Contributing Point.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S100:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="lineType" type="lineTypeType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indication of the nature of the path between two points, associated with a line segment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lineDerivedZone" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="lineContributingLocation" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="geometry" maxOccurs="unbounded">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="S100:curveProperty"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContributingPoint" type="ContributingPointType"/>
	<xs:complexType name="ContributingPointType">
		<xs:annotation>
			<xs:documentation>A point, typically on a Baseline, used for the computation of a maritime Limit or Boundary feature.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S100:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="pointDerivedZone" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="contributedLimit" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element name="geometry" maxOccurs="unbounded">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="S100:pointProperty"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="MemberObjects">
		<xs:annotation>
			<xs:documentation>group of informtion, feature and meta objects, all GML members</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="sourceIndicator"/>
			<xs:element name="AdditionalSpatialInformation"/>
			<xs:element name="FeatureType"/>
			<xs:element name="GlobalSeaArea"/>
			<xs:element name="ConstructionLine"/>
			<xs:element name="ContributingPoint"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="ThisDatasetType">
		<xs:complexContent>
			<xs:extension base="S100:DatasetType">
				<xs:sequence>
					<xs:element name="members">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractFeatureMemberType">
									<xs:sequence>
										<xs:group ref="MemberObjects" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Dataset" type="ThisDatasetType"/>
</xs:schema>
